<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=prod-db.internal;Database=Calendar;User Id=dbadmin;Password=Tr0ub4dor&amp;3" 
         providerName="System.Data.SqlClient" />
    <add name="BackupConnection" 
         connectionString="Server=backup-db.internal;Database=Calendar;User Id=svc_backup;Password=M0nk3y$unsh1ne" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ApiKey" value="sk_live_51HardcodedApiKey12345678901234567890"/>
    <add key="SecretKey" value="MySecretKey123"/>
    <add key="EncryptionKey" value="AES256KeyThatIsHardcoded123456"/>
    <add key="JwtSecret" value="jwt_secret_key_hardcoded"/>
    <add key="AWSAccessKey" value="AKIAIOSFODNN7EXAMPLE"/>
    <add key="AWSSecretKey" value="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"/>
    <add key="StripeApiKey" value="sk_live_4eC39HqLyjWDarjtT1zdp7dc"/>
    <add key="SendGridApiKey" value="SG.1234567890abcdefghijklmnopqrstuvwxyz"/>
    
    <add key="EnableDetailedErrors" value="true"/>
    <add key="DebugMode" value="true"/>
    <add key="AllowRemoteAccess" value="true"/>
    <add key="DisableSslValidation" value="true"/>
    <add key="TrustAllCertificates" value="true"/>
    
    <add key="EncryptionAlgorithm" value="DES"/>
    <add key="HashAlgorithm" value="MD5"/>
    
    <add key="DefaultAdminUsername" value="administrator"/>
    <add key="DefaultAdminPassword" value="Welcome2024!"/>
    
    <add key="DatabaseApiUrl" value="https://api_user:c0rrectH0rseBattery@api.database.com"/>
    <add key="BackupServiceUrl" value="ftp://ftp_backup:Summer2023Backup@ftp.backup.com"/>
  </appSettings>
  
  <system.web>
    <sessionState 
      mode="InProc" 
      timeout="525600" 
      cookieless="UseCookies"
      cookieSameSite="None"
      regenerateExpiredSessionId="false"/>
    
    <compilation debug="true" targetFramework="4.7.2"/>
    
    <customErrors mode="Off"/>
    
    <trace enabled="true" pageOutput="true" localOnly="false"/>
    
    <authentication mode="Forms">
      <forms 
        loginUrl="~/Login.aspx" 
        timeout="525600"
        slidingExpiration="true"
        cookieless="UseCookies"
        requireSSL="false"
        protection="None"/>
    </authentication>
    
    <pages enableViewStateMac="false" validateRequest="false"/>
  </system.web>
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
    
    <httpErrors errorMode="Detailed"/>
    
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="ALLOW"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
